<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.dao.mapper.AddresMapper">
	<select id="findAll" resultType="com.shop.entiy.Addres">
		select id,consignee,consignee_phone,region,detailed_addres,postcode
		from shop_addres
		where user_id = #{id} 
	</select>
	
	<select id="findIdOneAddres" resultType="com.shop.entiy.Addres">
		select id,consignee,consignee_phone,region,detailed_addres,postcode
		from shop_addres
		where id = #{id} 
	</select>
	<insert id="addAddres">
		insert into shop_addres(id,consignee,consignee_phone,region,detailed_addres,postcode,user_id)
		values(seq_shop_addres.nextval,#{consignee},#{consigneePhone},#{region},#{detailedAddres},
			#{postcode},#{user.id})
	</insert>
	<update id="updateAddres">
		update shop_addres 
		set consignee=#{consignee},consignee_phone=#{consigneePhone},region=#{region},
			detailed_addres=#{detailedAddres},postcode=#{postcode}
		where id=#{id}
	</update>
	
	
	
	<resultMap type="com.shop.entiy.Addres" id="addresDetails">
		
	</resultMap>
</mapper>